# OS Files
.DS_Store
Thumbs.db

# Editor Files
.vscode/
.idea/
*.swp
*.swo
*~

# Build/Package Files
*.zip
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# WordPress
wp-config.php
wp-content/uploads/

# Libraries
lib/tcpdf/
